.wrap {
	position: relative;
	width: 100px;
	height: 40px;
	margin: 0 2rem;
	color: #f5f5f5; /* Replace with the appropriate color */
	line-height: 40px;
	font-size: 2rem;
	text-align: center;
	font-weight: 400;
	padding-top: 5.5rem;
	margin-bottom: 0;
  }
  
  .eye {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	background: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
  }
  
  .eye:before {
	content: '';
	position: absolute;
	margin: auto;
	width: 10px;
	height: 10px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 50%;
  }
  
  .eye.grin:after, .eye.sad:after {
	content: '';
	position: absolute;
	width: calc(100% + 20px);
	height: 0;
	border-radius: 50%;
	background: #f5f5f5; /* Replace with the appropriate background color */
	left: -10px;
  }
  
  .eye.grin:after {
	bottom: -10px;
  }
  
  .eye.sad:after {
	top: -10px;
  }
  
  .eye:first-child {
	left: 0;
  }
  
  .eye:last-child {
	right: 0;
  }
  
  .eye.down:before {
	animation: sadb 4s cubic-bezier(0.25, 0.8, 0.25, 1) infinite;
  }
  
  @keyframes sadb {
	0%, 10% {
	  top: 0;
	}
	20%, 40% {
	  top: 50%;
	}
	50%, 100% {
	  top: 0;
	}
  }
  
  